{{ "<!-- Contact -->" | safeHTML}}
    <section id="contact">
        <div class="inner">
            <section>
                <form id="contact-form" method="post" action="/.netlify/functions/sendMail">
                    <div class="field half first">
                        <label for="name">Nome</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="from">Email</label>
                        <input type="text" name="from" id="from" />
                    </div>
                    <div class="field">
                        <label for="subject">Assunto</label>
                        <input type="text" name="subject" id="subject" />
                    </div>
                    <div class="field">
                        <label for="body">Mensagem</label>
                        <textarea name="body" id="body" rows="6"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="{{ .Site.Params.Contact.buttonSend }}" class="special" /></li>
                        <li><input type="reset" value="{{ .Site.Params.Contact.buttonClear }}" /></li>
                    </ul>
                </form>
            </section>
            <section class="split">
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-envelope"></span>
                        {{ range .Site.Params.Contact.email }}
                        <h3>{{ .title }}</h3>
                        <a href="mailto:{{ .email }}">{{ .email }}</a>
                        {{ end }}
                    </div>
                </section>
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-phone"></span>
                        {{ range .Site.Params.Contact.phone }}
                        <h3>{{ .title }}</h3>
                        <span>{{ .phone }}</span>
                        {{ end }}
                    </div>
                </section>
            </section>
        </div>
    </section>
