{{ "<!-- Scripts -->" | safeHTML}}
    {{ "<!-- jQuery -->" | safeHTML }}
    {{ $scripts := ( slice "jquery.min.js" "jquery.scrolly.min.js" "jquery.scrollex.min.js" "skel.min.js" "util.js" "main.js" "form.js")}}
    {{ range $scripts }}
        {{ $script := resources.Get (printf "js/%s" .) | resources.Minify | resources.Fingerprint}}
        <script src="{{ $script.Permalink | relURL }}" integrity="{{ $script.Data.Integrity }}"></script>
    {{ end }}

    {{ template "_internal/google_analytics_async.html" . }}

    {{ range .Site.Params.custom_js }}
        <script src="{{ . | absURL }}"></script>
    {{ end }}