{{ "<!-- Header -->" | safeHTML }}
    <header id="header" class="alt">
        <a href="/" class="logo">{{ if .Site.Params.Navigation.logo }}<img src="/img/{{ .Site.Params.Navigation.logo }}" alt="" />{{ else }}<strong>{{ .Site.Params.Navigation.title }}</strong> <span>{{ .Site.Params.Navigation.subtitle }}</span>{{ end }}</a>
        <nav>
            <a href="#menu">{{ .Site.Params.Navigation.menu }}</a>
        </nav>
    </header>

{{ "<!-- Menu -->" | safeHTML }}
    <nav id="menu">
        <ul class="links">
            {{ range .Site.Params.Navigation.links }}
                <li><a href="{{ .url | relURL}}">{{ .name }}</a></li>
            {{ end }}

        </ul>
        <ul class="actions vertical">
            {{ range .Site.Params.Navigation.button1 }}
                <li><a href="{{ .url | relURL}}" class="button special fit">{{ .name }}</a></li>
            {{ end }}
            {{ range .Site.Params.Navigation.button2 }}
                <li><a href="{{ .url }}" class="button fit">{{ .name }}</a></li>
            {{ end }}
        </ul>
    </nav>