{{ "<!-- Header -->" | safeHTML }}
    <section id="one" class="tiles">
        {{ range where .Site.Pages ".Params.homepage" true }}
            <article>
                <span class="image">
                    <img src="/img/{{ .Section }}/{{ .Params.Image }}" alt="" />
                </span>
                <header class="major">
                    <h3><a href="{{ .Permalink | relURL }}" class="link">{{ .Title }}</a></h3>
                    <p>{{ .Description }}</p>
                </header>
            </article>
        {{ end }}
    </section>