<!DOCTYPE HTML>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{ "<!-- Header -->" | safeHTML }}
    {{ partial "header.html" . }}

    <body>

    {{ "<!-- Wrapper -->" | safeHTML }}
        <div id="wrapper">

        {{ partial "nav.html" . }}

        {{ "<!-- Main -->" | safeHTML }}
            <div id="main">

                <section id="banner">
                    <div class="inner">
                        <header class="major">
                            <h1>{{ .Title }}</h1>
                        </header>
                        <div class="content">
                            {{ .Content }}
                        </div>
                    </div>
                </section>

                <section id="two" class="spotlights">
                    <iframe src="https://storage.googleapis.com/maps-solutions-zirpczrspi/locator-plus/vuiy/locator-plus.html"
                    width="100%" height="100%"
                    style="border:0; height: 65vh;"
                    loading="lazy">
                    </iframe>
                </section>
            </div>
            
        {{ "<!-- Footer -->" | safeHTML}}
			{{ if .Site.Params.footer.enable }}
				{{ partial "footer.html" . }}
            {{ end }}
        
        </div>

    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}
        
    </body>
</html>
