<!DOCTYPE HTML>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{ "<!-- Header -->" | safeHTML }}
    {{ partial "header.html" . }}

    <body>

    {{ "<!-- Wrapper -->" | safeHTML }}
        <div id="wrapper">

        {{ partial "nav.html" . }}

        {{ "<!-- Main -->" | safeHTML }}
            <div id="main">

                <section id="banner">
                    <div class="inner">
			{{ if .Params.image }}
                        <span class="image">
                            <img src="/img/{{ .Section }}/{{ .Params.image }}" alt="" />
                        </span>
			{{ end }}
                        <header class="major">
                            <h1>{{ .Title }}</h1>
                        </header>
                        <div class="content">
                            {{ .Content }}
                        </div>
                    </div>
                </section>

                <section id="two" class="spotlights">
                    {{ range sort .Pages ".Params.HistoricalDate" "asc" }}
                    <section>
                        <div class="image">
                            <img src="/img/{{ .Section }}/{{ .Params.image }}" alt="" data-position="center center" />
                        </div>
                        <div class="content">
                            <div class="inner">
                                <header class="major">
                                    <h3>{{ .Title }}</h3>
                                </header>
                                <p>{{ .Description }}</p>
                            </div>
                        </div>
                    </section>
                    {{ end }}
                </section>
            </div>
            
        {{ "<!-- Footer -->" | safeHTML}}
			{{ if .Site.Params.footer.enable }}
				{{ partial "footer.html" . }}
            {{ end }}
        
        </div>

    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}
        
    </body>
</html>
