<!DOCTYPE HTML>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

    {{ partial "header.html" . }}
    <body>

    {{ "<!-- Wrapper -->" | safeHTML }}
        <div id="wrapper">

            {{ partial "nav.html" . }}

        {{ "<!-- Main -->" | safeHTML }}
            <div id="main">

                <!-- One -->
                <section id="banner">
                    <div class="inner">
			{{ if .Params.image }}
                        <span class="image">
                            <img src="/img/{{ .Section }}/{{ .Params.Image }}" alt="" />
                        </span>
			{{ end }}
                        <header class="major">
                            <h1>{{ .Title }}</h1>
                        </header>
                        <div class="content">
                            {{ .Description }}
                        </div>
                    </div>
                </section>



                    <section id="one">
                        <div class="inner">
                            {{ .Content }}
                        </div>
                    </section>
            {{ "<!-- Disqus Inject -->" | safeHTML }}
                {{ if .Site.DisqusShortname }}
                  {{ partial "disqus.html" . }}
                {{ end }}
            </div>
            
        {{ "<!-- Footer -->" | safeHTML}}
            {{ if .Site.Params.footer.enable }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}

    </body>
</html>
